.postWallContainer {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    overflow-y: scroll;
}

.postWallContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media (max-width: 768px) {
    .postWallContainer {
        width: 95vw;
    }
}