.infiniteScrollContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.postContainer {
    background-color: #202122;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postWrapper {
    padding: 1.5rem 0 0 1rem;
}

.postHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.postHeaderName {
    display: flex;
    font-weight: bold;
}

.postHeaderDate {
    display: flex;
    font-size: small;
}

.postContent {
    display: flex;
    overflow-wrap: break-word;
    padding: 1rem 0 1rem 1rem;
}

.postStatusContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:small;
    color: rgba(211, 211, 211, 0.616);
}

.likeCountContainer {
    padding-left: 1rem ;
}

.commentCountContainer {
    padding-right: 1rem ;
}
    